body{
    background-color: #8b8cff;
}
  .c{
    /* margin: 30px; */
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    /* background-color: whitesmoke; */
  }
  .c p{

    text-align: center;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    /* transform: skewY(2deg); */
  }
  .c h1{

    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  
  .c1{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to right bottom, purple,lightblue,aqua);
    transform: skewY(-2deg);
  }
  .c2{
    display: flex;
    flex-direction: row-reverse;
    
    align-items: center;
    justify-content: center;
    background: linear-gradient( to right bottom,aqua,lightblue, purple);
    transform: skewY(-2deg);
  }
  


  .card {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 40px;
    margin-top: 25vh;
  }
  
  .card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  
  .card-text {
    padding: 20px;
    text-align: center;
  }
  
  .card-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-text p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
  }
  


