*{
    margin: 0;
    padding: 0;
}

img{
    width: 100px;
}

#aboutUs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

#aboutUs .heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#aboutUs .heading h1{
    margin: 0;
    padding: 0;
}

#aboutUs h1{
    margin-top: 100px;
}

#aboutUs .heading img{
    width: 70px;
    margin-right: 20px;
    border-radius: 50%;
}

#aboutUs>div{
    line-height: 1.8rem;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

#aboutUs>div{
    border: 2px solid none;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin: 50px 0px 0px 0px;
    padding: 2rem;
}

#aboutUs #vivitsu{
    background-color: skyblue;
}

#aboutUs #vivitsu .notice{
    text-align: center;
    color: rgb(0, 150, 0);
    font-weight: bold;
}

#aboutUs #vivitsu .notice a{
    color: blue;
    padding: 5px;
    text-decoration: underline;
}

#aboutUs #fsw{
    background-color: rgb(255, 99, 99);
}

#aboutUs #community{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    align-items: center;
    justify-content: center;
    border: none;
}

#aboutUs #community .organiser{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#aboutUs #community .organiser .profile{
    border-radius: 50%;
    overflow: hidden;
}

#aboutUs #community .organiser .profile img{
    width: 200px;
    filter: grayscale(1);
    transition: all 0.5s ease;
}

#aboutUs #community .organiser .profile img:hover{
    filter: grayscale(0);
    transform: scale(1.2);
}