#problem-statements div.card{
    display: flex;
    align-items: center;
    justify-content: left;
    /* flex-direction: row; */
    background-color: rgb(0, 255, 123);
    width: 90%;
}

#problem-statements div.