@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

/* :root {
  #ffffff: #ffffff;
  #dce1df: #dce1df;
  #ff6666: #ff6666;

  #0096a0: #0096a0;
  #0ebac7: #0ebac7;
  #33ffff: #33ffff;
  #007c85: #007c85;

  #4f585e: #4f585e;
} */

body {
  background: #dce1df;
  color: #4f585e;
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
}

a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}

a.btn:hover {
  background: lighten(#0096a0, 2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

a.btn:active,
a.btn:active {
  background: darken(#0096a0, 2.5);
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  width: 100%;
  /* height: fixed; */
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

div.card {
  background-color: white;
  display: inline-block;
  margin: 8px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 450px;
  margin: 50px auto;
  /* height: 10vh; */
  z-index: 1;
}


div.card ::after {
  /* content: ""; */
  clear: both;
  display: table;
}

div.card img {
  width: 450px;
  height: 250px;
}

#ps1 img{
  width: 450px;
  height: 380px;
}

div.card .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 250px;
  overflow: hidden;
  /* height: 0; */
  /* padding-bottom: 75%; */
}

div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
  height: 100px;
}

div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;

  width: 32px;
  bottom: 20px;
}

div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}

div.card div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right {
  left: -16px;
  transform: rotate(-45deg);
}

div.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}

div.card div.card-title h2 small {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
  background-color: #e9e9e9;
  padding: 0.35rem;
  border-radius: 0.9rem;
}

div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 1.3rem;
}

div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}

div.card div.card-flap {
  background: darken(#ffffff, 15);
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}
div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}

div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}

div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
  left: -20px;
}
div.card.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}
div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}

@media (min-width: 985px) and (max-width: 1401px){
  div.cards{
   grid-template-columns: repeat(2, 1fr);
  } 
 }

@media (min-width: 1400px){
 div.cards{
  grid-template-columns: repeat(3, 1fr);
 } 
}
