#main {
    height: 100vh;
	background-repeat: no-repeat;    /*background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));*/
	background:#373737;
	position: relative;
}

#particles-js{
  	width: 100%;
  	height: 100%;
  	background-size: cover;
  	background-position: 50% 50%;
  	position: absolute;
  	top: 0px;
  	z-index:1;
	display: none;
}


/* @media (min-width: 985px) and (max-width: 1401px){
	div.cards{
	 grid-template-columns: repeat(2, 1fr);
	} 
   } */
  
  @media (min-width: 985px){
   #particles-js{
	display: block;
   }
  }